<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="bannerformmodal">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Browser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col col-md-4" *ngFor="let img of imagens">
              <app-link-img [imagem]="img.url" 
                            [urlDelete]="urlDelete" 
                            [options]="optionsList"
                            [fileName]="img.tag"
                            [id]="img.id"
                            (onBeforeDelete)="updateList($event)"
                            (onSelect)="select($event, btn)"></app-link-img>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #btn data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>